# キャッシュ禁止
<FilesMatch "\.(css|js|jpg|jpeg|gif|png|svg|svgz|webp|ico|bmp|woff|woff2|ttf|otf|html|csv|json)$">
Header set Cache-Control no-store
Header set Pragma no-store
</FilesMatch>

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "https://script.google.com"
</IfModule>