html {
    padding: 0px;
}

body {
    background-color:rgba(20, 20, 20, 1);
    padding: 0px;
    font-family: "Noto Sans JP", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

strong {
    color: #ffff85;
}

.bg-lighter {
    background-image:radial-gradient(rgba(85, 85, 85, 1), rgba(56, 56, 56, 1) 40%, rgba(20, 20, 20, 1) 60%);
}

.no-space {
    margin-top: 0;
}

h2 {
    margin-top: 100px;
}

h3 {
    margin-top: 50px;
}

.underline {
    width: 100%;
    border-bottom: 2px solid white;
}

.smaller {
    width: 95%;
    margin: 0 auto;
}